/* address bar */
#main>div.mainbar {
  padding: 10px
}

#main>div.mainbar>div>div.UrlBar-AddressField.button-textonly.below {
  padding: 16px
}

/* -- end address bar -- */

/* dropdown search suggestions */

#main>div.mainbar>div>div.UrlBar-AddressField.button-textonly.below>div.UrlBar-UrlFieldWrapper>div>div.OmniDropdown {
  border-radius: 22px;
  padding: 16px;
}

#main>div.mainbar>div>div.UrlBar-AddressField.button-textonly.below>div.UrlBar-UrlFieldWrapper>div>div.OmniDropdown>section>div.omni-clickable.OmniLinkItem {
  padding: 8px 9px;
}

/* -- end dropdown search suggestions -- */

/* streamkeys extention */
button[name="ekpipjofdicppbepocohdlgenahaneen"] img {
  content: url("./Audio.ico");
}
/* -- end streamkeys extention -- */
