/* address bar */
#main>div.mainbar {
  padding: 10px
}

#main>div.mainbar>div>div.UrlBar-AddressField.button-textonly.below {
  height: 40px;
  padding: 10px;
}

.address-top .mainbar {
  border-bottom-width: 0px;
}


/* dropdown search suggestions */

#main>div.mainbar>div>div.UrlBar-AddressField.button-textonly.below>div.UrlBar-UrlFieldWrapper>div>div.OmniDropdown {
  border-radius: 22px;
  padding: 16px;
}

#main>div.mainbar>div>div.UrlBar-AddressField.button-textonly.below>div.UrlBar-UrlFieldWrapper>div>div.OmniDropdown>section>div.omni-clickable.OmniLinkItem {
  padding: 8px 9px;
}

.theme-dark.acc-dark .UrlBar-AddressField .pageload .pageload-indicator {
  height: 36px;
}


/* streamkeys extention */
button[name="ekpipjofdicppbepocohdlgenahaneen"] img {
  content: url("./Audio.ico");
}


/* bookmarkbar */
div.bookmark-bar.default {
  height: 34px;
  padding-bottom: 5px;
}

.bookmark-bar button {
  border-radius: 8px;
  outline: none;
  margin-left: 6px;
}


/* startpage search field */

.sdwrapper .iconmenu-container.SearchField {
  width: 176%;
  padding: 18px;
  right: 38%;
  border-radius: 50px;
}

#webpage-stack>div.webpageview.active.internal.visible.pagefocusstop>div.row-wrapper>div>div.internal-page>div>div.startpage-content>div>div>div.SpeedDialView-Head>div>div>div.OmniDropdown {
  border-radius: 20px;
  padding: 1%;
}

#webpage-stack>div.webpageview.active.internal.visible.pagefocusstop>div.row-wrapper>div>div.internal-page>div>div.startpage-content>div>div>div.SpeedDialView-Head>div>div>div.OmniDropdown>section:nth-child(2)>div.OmniLinkItem {
  padding: 10px 9px;
}

button[title="Change search engine"]>img.button-icon,
button[title="Change search engine"]>.button-icon svg {
  height: 26px;
  width: 26px;
}

#webpage-stack>div.webpageview.active.internal.visible.pagefocusstop>div.row-wrapper>div>div.internal-page>div>div.startpage-content>div>div>div.SpeedDialView-Head>div>div>input {
  margin-left: 15px;
}

/* -- tabs -- */
.transparent-tabbar .tab-position .tab.active .tab-header .favicon:not(.svg),
.theme-dark .tab-position .tab.active .tab-header .favicon:not(.svg),
.acc-dark.color-behind-tabs-off .tab-position .tab.active .tab-header .favicon:not(.svg) {
  filter: unset !important;
}

/* recent */

#tabs-container>div>div.toolbar.toolbar-tabbar.sync-and-trash-container.top {
  margin-top: 42px;
  opacity: 0;
}


/* speed dail */
.speeddial .dial {
  border-radius: 76px !important;
  height: 215px !important;
}


.speeddial .dial:not(.icon) .thumbnail-title:has(img, .favicon) {
  justify-content: center !important;
}

#webpage-stack>div>div.row-wrapper>div>div.internal-page>div>div.startpage-content>div>div>div.dials-wrapper>span>div>div>div>div.thumb-controls {
  position: absolute;
  top: 75px;
  left: 5%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-direction: column;
}


/* #webpage-stack>div>div.row-wrapper>div>div.internal-page>div>div.startpage-content>div>div>div.dials-wrapper>span>div>div>div>div.thumbnail-title {
  gap: 60px !important;
}

.dial .thumbnail-title {
  gap: unset !important;
  height: 10px;
  margin-left: 30%;
} */